
@model MVC.ViewModels.EntertainmentListViewModel
@{
    ViewBag.Title = "Entertainments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllEntertainments</h2>
<section>
    <article>
        <table id="customers" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Entertainment</th>
                    <th>Location</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entert in Model.AllEntertainments)
                {
                    <tr>
                        <td>@Html.ActionLink(@entert.Name.ToString(), "Entertainment/" + @entert.Id.ToString(), "Entertainments")</td>

                        <td>@entert.Continent, @entert.Country, @entert.City</td>

                        <td>@Html.ActionLink("Delete", "", "")</td>
                    </tr>
                }

            </tbody>
        </table>

    </article>

</section>

